/********* Fonts ************/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&family=Inter:wght@500;600;700&display=swap');

/********* Main ************/
:root {
    --header-height: 3rem;

    /* COLORS */
    --first-color: #9854cb;
    --first-color-second: #ddacf5;
    --first-color-alt: #64379f;
    --title-color: #27104e; 
    --text-color: #9f66e9;
    --text-color-light: #b28ae7;
    --input-color: #b28ae7;
    --body-color: #d1a3f5;
    --white-color: #FFF;
    --scroll-bar-color: #e6d2f0;
    --scroll-thumb-color: #ddacf5;

    /* FONTS */
    --body-font: 'IBM Plex Sans', sans-serif;
    --title-font: 'Inter', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .93rem;
    --small-font-size: .81rem;
    --smaller-font-size: .75rem;

    --font-med: 500;
    --font-semi-bold: 600;

    /* MARGINS BOTTOM */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /* Z-INDEX */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-loader: 200;

    /* HOVER OVERLAY */
    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.2);
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .87rem;
        --smaller-font-size: .8rem;
    }
}

/********* Dark Theme Var ************/

/********* Dark/Light Button ************/
.nav_dark {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    position: absolute;
    left: 3rem;
    bottom: 4rem;
}

.change-theme,
.theme-change-name {
    color: var(--title-color);
    font-size: 1.2rem;
    font-weight: var(--font-semi-bold);
}

.change-theme {
    cursor: pointer;
    font-size: 1.2rem;
}

.theme-change-name {
    font-size: var(--normal-font-size);
}


/********* Base ************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
}

img{
    max-width: 100%;
    height: auto;
}

button,
input {
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

button {
    cursor: pointer;
}

input {
    outline: none;
}

.main {
    overflow-x: hidden;
}

/********* CSS Classes (Resuable) ************/
.section {
    padding: 4.5rem 0 2.5rem;
}

.section_title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: var(--mb-2);
}

.container {
    max-width: 1000px;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/********* ScrollBar ************/
::-webkit-scrollbar {
    width: .8rem;
    background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}

/********* Header ************/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: transparent;

}

/********* NavBar ************/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_container{
    display: flex;
    left: 0;
    top: 0;
    font-size: 1.2rem;
    column-gap: .4rem;
    justify-items: center;
}

.nav_toggle,.nav_logo, .nav_logo-icon {
    color: var(--white-color);
}

.nav_logo, .nav_logo-icon {
    font-weight: var(--font-semi-bold);
}

.nav_toggle {
    font-size: 1.2rem;
    cursor: pointer;
}

.nav_menu {
    position: relative;
}

@media screen and (max-width:767px) {
    .nav_menu {
        position: fixed;
        background-color: var(--first-color-alt);
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        box-shadow: -1px 0 4px hsla(226, 64%, 15%, .15);
        padding: 3rem;
        transition: .4s;
    }
    .swiper_button{
        display: none;
    }
}

.nav_list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav_link {
    color: var(--text-color-light);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
}

.nav_link:hover {
    color: var(--text-color);
}

.nav_close {
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

/* SHOW MENU */
.show-menu {
    right: 0;
}

/* ACTIVE LINK */
.active-link {
    position: relative;
    color: var(--title-color);
}

.active-link::before {
    content: '';
    background-color: var(--title-color);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -.75rem;
    left: 0;
}

/* BACKGROUND HEADER */
.scroll-header {
    background-color: var(--body-color);
    box-shadow: 0 0 4px hsl(226, 64%, 15%, .15);
}

.scroll-header .nav_logo,
.scroll-header .nav_toggle {
    color: var(--title-color);
}

/********* Home ************/
.swiper_class{
    width: 100%;
    height: 75vh;
}
.home_slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.home_img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image_data {
    color: var(--white-color);
    position: absolute;
    top: 7rem;
    row-gap: 2rem;
    left: 1rem;
    text-align: left;
}
.home_description{
    margin-bottom: var(--mb-2-5);
    font-size: 1rem;
}
.home_title{
    -webkit-text-stroke: .2px black;
    color: var(--white-color);
    font-size: 3.25rem;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-5);
}
.buttons{
    display: flex;
    column-gap: 2rem;
    font-weight: var(--font-semi-bold);
}
.buttons .button1{
    padding: 10px 20px;
    background: var(--title-color);
    color: var(--white-color);
}
.buttons .button2{
    padding: 10px 20px;
    border: 2px solid var(--title-color);
    background: transparent;
    color: var(--white-color);
}

/********* About ************/
.about_container{
    position: relative;
    padding-top: 4rem;
}
.about_title{
    font-size: 2.5rem;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-5);
}
.about_subtitle{
    position: relative;
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: var(--mb-1-25);
    font-size: var(--normal-font-size);
    font-weight: 400;
}
.about_description{
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
}
.left .buttons{
    justify-content: center;
    align-items: center;
}
.right{
    margin-left: var(--mb-1-25);
    margin-right: var(--mb-1-25);
}
.experience_container{
    row-gap: 2rem;
    justify-content: center;
    justify-items: center;
}
.experience_content{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
    justify-items: center;
    padding: 0 1.5rem;
}
.experience_number {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-25);
}

.experience_description {
    font-size: var(--small-font-size);
}

/********* Rooms ************/
.room_container {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 1rem;
    justify-content: center;
    justify-items: center;
}
.rooms_title{
    font-size: 2.5rem;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-5);
}
.room_subtitle{
    position: relative;
    font-size: 1.5rem;
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: var(--mb-1-25);
    font-size: var(--normal-font-size);
    font-weight: 400;
}
.room_slide{
    min-width: 150px;
    max-width: 850px;
    position: relative;
    overflow: var(--img-hidden);
}
.room_img{
    width: 100%;
    height: 100%;
}

.room_content,
.room_title {
    color: var(--white-color);
}

.room_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .75rem .75rem 1rem;
}

.room_rating {
    color: var(--first-color-alt);
    font-weight: var(--font-semi-bold);
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
}

.room_rating-icon {
    font-size: 1rem;
    margin-right: var(--mb-0-25);
}
.room_title{
    font-size: 2.5rem;
    -webkit-text-stroke: .25px black;
    margin-bottom: var(--mb-0-25);
}
.room_data{
    display: flex;
    column-gap: 2rem;
}
.room_button{
    padding: 8px 10px;
    background-color: var(--title-color);
    color: var(--white-color);
}
.room_price{
    justify-content: center;
    display: flex;
    column-gap: .5rem;
    font-size: 1.2rem;
    font-weight: var(--font-med);
}

/********* Services ************/
.service_container {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 1rem;
    justify-content: center;
    justify-items: center;
}
.service_title{
    font-size: 2.5rem;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-5);
}
.service_subtitle{
    position: relative;
    font-size: 1.5rem;
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: var(--mb-1-25);
    font-size: var(--normal-font-size);
    font-weight: 400;
}
.service_subtitle span{
    color: var(--first-color-alt);
    font-size: 2rem;
    font-weight: 700;
    margin-left: var(--mb-0-25);
}
.service_content{
    padding-top: 1.1rem;
    display: grid;
    row-gap: 2.5rem;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}
.service_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px 15px;
    border: 1px solid var(--first-color-alt);
    transition: all .3s;
}
.service_icon{
    color: var(--title-color);
    font-size: 1.5rem;
}
.service_box:hover{
    background-color: var(--title-color);
    .service_icon, .service_name{
        color: var(--white-color);
    }
}