/********* Fonts ************/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&family=Inter:wght@500;600;700&display=swap');

/********* Main ************/
:root {
    --header-height: 3rem;

    /* COLORS */
    --first-color: #9854cb;
    --first-color-second: #ddacf5;
    --first-color-alt: #64379f;
    --title-color: #27104e;
    --text-color: #9f66e9;
    --text-color-light: #b28ae7;
    --input-color: #b28ae7;
    --body-color: #d1a3f5;
    --white-color: #FFF;
    --scroll-bar-color: #e6d2f0;
    --scroll-thumb-color: #ddacf5;

    /* FONTS */
    --body-font: 'IBM Plex Sans', sans-serif;
    --title-font: 'Inter', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .93rem;
    --small-font-size: .81rem;
    --smaller-font-size: .75rem;

    --font-med: 500;
    --font-semi-bold: 600;

    /* MARGINS BOTTOM */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /* Z-INDEX */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-loader: 200;

    /* HOVER OVERLAY */
    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.2);
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .87rem;
        --smaller-font-size: .8rem;
    }
}

/********* Dark Theme Var ************/
body.dark-theme {
    /* COLORS */
    --first-color-second: #b87dd6;
    --first-color-alt: #10081f;
    --title-color: #dbcaf1;
    --text-color: #ede9f1;
    --input-color: #b28ae7;
    --body-color: #27104e;
    --scroll-bar-color: #cfabe0;
    --scroll-thumb-color: #300b42;
    transition: all .7s;
}

/********* Dark/Light Button ************/
.nav_dark {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    position: absolute;
    left: 3rem;
    bottom: 4rem;
}

.change-theme,
.theme-change-name {
    color: var(--title-color);
    font-size: 1.2rem;
    font-weight: var(--font-semi-bold);
}

.change-theme {
    cursor: pointer;
    font-size: 1.2rem;
}

.theme-change-name {
    font-size: var(--normal-font-size);
}


/********* Base ************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
}

img {
    max-width: 100%;
    height: auto;
}

button,
input {
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

button {
    cursor: pointer;
}

input {
    outline: none;
}

.main {
    overflow-x: hidden;
}

/********* CSS Classes (Resuable) ************/
.section {
    padding: 4.5rem 0 2.5rem;
}

.section_title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: var(--mb-2);
}

.container {
    max-width: 1000px;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/********* ScrollBar ************/
::-webkit-scrollbar {
    width: .4rem;
    background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}

********* Loader ************/
.loader {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #cde9e9;
    z-index: var(--z-loader);
}

.loader span:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border: 6px solid #262626;
    border-radius: 50%;
    border-top: 6px solid transparent;
    animation: animate 1s linear infinite;
}

.loader span:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border: 6px solid #262626;
    border-radius: 50%;
    border-bottom: 6px solid transparent;
    animation: animate 2s linear infinite;
}

.loader span:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border: 6px solid #262626;
    border-radius: 50%;
    border-bottom: 6px solid transparent;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/********* Header ************/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: transparent;

}

/********* NavBar ************/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_container {
    display: flex;
    left: 0;
    top: 0;
    font-size: 1.2rem;
    column-gap: .4rem;
    justify-items: center;
}

.nav_toggle,
.nav_logo,
.nav_logo-icon {
    color: var(--white-color);
}

.nav_logo,
.nav_logo-icon {
    font-weight: var(--font-semi-bold);
}

.nav_toggle {
    font-size: 1.2rem;
    cursor: pointer;
}

.nav_menu {
    position: relative;
}

@media screen and (max-width:767px) {
    .nav_menu {
        position: fixed;
        background-color: var(--first-color-alt);
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        box-shadow: -1px 0 4px hsla(226, 64%, 15%, .15);
        padding: 3rem;
        transition: .4s;
    }

    .swiper_button {
        display: none;
    }
}

.nav_list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav_link {
    color: var(--text-color-light);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
}

.nav_link:hover {
    color: var(--text-color);
}

.nav_close {
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

/* SHOW MENU */
.show-menu {
    right: 0;
}

/* ACTIVE LINK */
.active-link {
    position: relative;
    color: var(--title-color);
}

.active-link::before {
    content: '';
    background-color: var(--title-color);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -.75rem;
    left: 0;
}

/* BACKGROUND HEADER */
.scroll-header {
    background-color: var(--body-color);
    box-shadow: 0 0 4px hsl(226, 64%, 15%, .15);
}

.scroll-header .nav_logo,
.scroll-header .nav_toggle {
    color: var(--title-color);
}

/********* Home ************/
.swiper_class {
    width: 100%;
    height: 75vh;
}

.home_slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image_data {
    color: var(--white-color);
    position: absolute;
    top: 7rem;
    row-gap: 2rem;
    left: 1rem;
    text-align: left;
}

.home_description {
    margin-bottom: var(--mb-2-5);
    font-size: 1rem;
}

.home_title {
    -webkit-text-stroke: .2px black;
    color: var(--white-color);
    font-size: 3.25rem;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-5);
}

.buttons {
    display: flex;
    column-gap: 2rem;
    font-weight: var(--font-semi-bold);
}

.buttons .button1 {
    padding: 10px 20px;
    background: var(--title-color);
    color: var(--white-color);
}

.buttons .button2 {
    padding: 10px 20px;
    border: 2px solid var(--title-color);
    background: transparent;
    color: var(--white-color);
}

/********* About ************/
.about_container {
    position: relative;
    padding-top: 4rem;
}

.about_title {
    font-size: 2.5rem;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-5);
}

.about_subtitle {
    position: relative;
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: var(--mb-1-25);
    font-size: var(--normal-font-size);
    font-weight: 400;
}

.about_description {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
}

.left .buttons {
    justify-content: center;
    align-items: center;
}

.right {
    margin-left: var(--mb-1-25);
    margin-right: var(--mb-1-25);
}

.experience_container {
    row-gap: 2rem;
    justify-content: center;
    justify-items: center;
}

.experience_content {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
    justify-items: center;
    padding: 0 1.5rem;
}

.experience_number {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-25);
}

.experience_description {
    font-size: var(--small-font-size);
}

/********* Rooms ************/
.room_container {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 1rem;
    justify-content: center;
    justify-items: center;
}

.rooms_title {
    font-size: 2.5rem;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-5);
}

.room_subtitle {
    position: relative;
    font-size: 1.5rem;
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: var(--mb-1-25);
    font-size: var(--normal-font-size);
    font-weight: 400;
}

.room_slide {
    min-width: 150px;
    max-width: 850px;
    position: relative;
    overflow: var(--img-hidden);
}

.room_img {
    width: 100%;
    height: 100%;
}

.room_content,
.room_title {
    color: var(--white-color);
}

.room_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .75rem .75rem 1rem;
}

.room_rating {
    color: var(--first-color-alt);
    font-weight: var(--font-semi-bold);
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
}

.room_rating-icon {
    font-size: 1rem;
    margin-right: var(--mb-0-25);
}

.room_title {
    font-size: 2.5rem;
    -webkit-text-stroke: .25px black;
    margin-bottom: var(--mb-0-25);
}

.room_data {
    display: flex;
    column-gap: 2rem;
}

.room_button {
    padding: 8px 10px;
    background-color: var(--title-color);
    color: var(--white-color);
}

.room_price {
    justify-content: center;
    display: flex;
    column-gap: .5rem;
    font-size: 1.2rem;
    font-weight: var(--font-med);
}

/********* Services ************/
.service_container {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 1rem;
    justify-content: center;
    justify-items: center;
}

.service_title {
    font-size: 2.5rem;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-5);
}

.service_subtitle {
    position: relative;
    font-size: 1.5rem;
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: var(--mb-1-25);
    font-size: var(--normal-font-size);
    font-weight: 400;
}

.service_subtitle span {
    color: var(--first-color-alt);
    font-size: 2rem;
    font-weight: 700;
    margin-left: var(--mb-0-25);
}

.service_content {
    padding-top: 1.1rem;
    display: grid;
    row-gap: 2.5rem;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.service_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px 15px;
    border: 1px solid var(--first-color-alt);
    transition: all .3s;
}

.service_icon {
    color: var(--title-color);
    font-size: 1.5rem;
}

.service_box:hover {
    background-color: var(--title-color);

    .service_icon,
    .service_name {
        color: var(--white-color);
    }
}

/********* News & Offer ************/
.news_container {
    position: relative;
    padding: 4rem .25rem 1rem;
    justify-content: center;
    justify-items: center;
    border: 1px dotted var(--title-color);
}

.news_title,
.offer_title {
    font-size: 2.5rem;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-5);
}

.news_subtitle,
.offer_subtitle {
    position: relative;
    font-size: 1.5rem;
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: var(--mb-1-25);
    font-size: var(--normal-font-size);
    font-weight: 400;
}

.news_content,
.offer_content {
    padding-top: .1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.news_headline,
.offer_headline {
    text-decoration: underline;
    font-size: 1.2rem;
}

.news_description,
.offer_description {
    font-size: 1rem;
    color: var(--first-color-alt);
    margin-bottom: var(--mb-0-5);
}

/********* Subscribe ************/
.subscribe_bg {
    background-color: var(--first-color-alt);
    padding: 2.5rem 0;
}

.subscribe_title,
.subscribe_description {
    color: var(--white-color);
}

.subscribe_description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.subscribe_form {
    background-color: var(--input-color);
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}

.subscribe_input {
    width: 70%;
    padding-right: .5rem;
    background-color: var(--input-color);
    color: var(--text-color);
}

.subscribe_input::placeholder {
    color: var(--text-color);
}

/********* Booking ************/
.booking_container {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 1rem;
    justify-content: center;
    justify-items: center;
    background-color: var(--text-color-light);
}

.booking_title {
    font-size: 2.5rem;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-1-5);
}

.arr_time,
.dept_time {
    position: relative;
    justify-content: center;
    align-items: center;
}

.arr_title,
.dept_title {
    font-size: 1.2rem;
    margin-left: var(--mb-0-25);
}

.form {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}

.form_content {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
}

.booking_input {
    width: 100%;
    padding: .5rem;
    background-color: var(--first-color-alt);
    color: var(--white-color);
}

::-webkit-input-placeholder {
    color: var(--white-color);
}

.submit_button {
    margin: 1.5rem 0 3rem;
    font-size: 1.5rem;
}

/********* Footer ************/
.footer_container {
    row-gap: 5rem;
}

.footer_content {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
}

.footer_title,
.footer_subtitle {
    font-size: var(--h3-font-size);
}

.footer_title {
    margin-bottom: var(--mb-0-5);
}

.footer_description {
    margin-bottom: var(--mb-2);
}

.footer_social {
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1-25);
}

.footer_social:hover {
    color: var(--text-color-light);
}

.footer_subtitle {
    margin-bottom: var(--mb-1);
}

.footer_item {
    margin-bottom: var(--mb-0-75);
}

.footer_link {
    color: var(--text-color);
}

.footer_link:hover {
    color: var(--title-color);
}

.footer_rights {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    text-align: center;
}

.footer_copy,
.footer_terms-link {
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.footer_terms {
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
}

.footer_terms-link:hover {
    color: var(--title-color);
}

/********* Scroll Up ************/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    opacity: .8;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover {
    background-color: var(--first-color-alt);
    opacity: 1;
}

.scrollup-icon {
    color: var(--white-color);
}

/* SHOW SCROLL */
.show-scroll {
    bottom: 5rem;
}

/********* Media Queries ************/
/* SMALL DEVICES */
@media screen and (max-width: 345px) {
    .form_content {
        grid-template-columns: max-content;
        justify-content: center;
        justify-items: center;
        row-gap: 1.5rem;
    }

    .room_title {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .room_button {
        padding: 8px 10px;
    }

    .room_price {
        font-size: 1rem;
        font-weight: 700;
        column-gap: .5rem;
    }
}

/* MEDIUM DEVICES */
@media screen and (min-width: 568px) {
    .service_content {
        column-gap: .5rem;
        grid-template-columns: repeat(4, 1fr);
    }

    .experience_content{
        grid-template-columns: repeat(4,1fr);
        column-gap: 3rem;
    }
    .experience_number {
        font-size: 2rem;
        margin-bottom: var(--mb-0-5);
    }
    .experience_description {
        font-size: 1rem
    }
}
@media screen and (min-width: 760px){
    body {
        margin: 0;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav_link {
        color: var(--white-color);
        text-transform: initial;
    }

    .nav_link:hover {
        color: var(--white-color);
    }

    .nav_dark {
        position: initial;
    }

    .nav_menu {
        display: flex;
        column-gap: 2rem;
    }
    .nav_list {
        flex-direction: row;
        column-gap: 4rem;
    }

    .nav_toggle,
    .nav_close,
    .theme-change-name {
        display: none;
    }

    .change-theme {
        color: var(--white-color);
    }

    .active-link::before {
        background-color: var(--white-color);
    }

    .scroll-header .nav_link,
    .scroll-header .change-theme {
        color: var(--text-color);
    }

    .scroll-header .active_link {
        color: var(--title-color);
    }

    .scroll-header .active-link::before {
        background-color: var(--title-color);
    }

    .section {
        padding: 7rem 0 2rem;
    }

    .home{
        height: 100vh;
        display: flex;
    }
    .swiper_class{
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-template-rows: 1.8fr .5fr;
    }
    .image_data{
        display: flex;
        padding: 10rem 0 5rem;
        flex-direction: column;
        row-gap: 4rem;
    }
    .home_title{
        font-size: 3.5rem;
    }
    .home_description{
        font-size: 1.2rem;
    }

    .left{
        margin-left: var(--mb-1-25);
        justify-content: center;
        justify-items: center;
    }

    .room_content{
        display: flex;
        row-gap: 2rem;
    }
    .room_title{
        font-size: 3.5rem;
    }
    .room_rating,.room_rating-icon{
        font-size: 2rem;
    }
    .room_data{
        column-gap: 3.5rem;
    }
    .room_button{
        padding: 15px 18px;
    }
    .swiper_button{
        display: flex;
        top: 30%;
        right: 90%;
        font-weight: 800;
        color: var(--title-color);
    }
}

/* LARGE DEVICES */
@media screen and (min-width: 1024px){
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    .header{
        column-gap: 5rem;
    }
    .section_title{
        font-size: 3rem;
    }
    .image_data{
        row-gap: 3.7rem;
        .home_title{
            font-size: 4.8rem;
        }
        .home_description{
            font-size: 1.7rem;
        }
    }
    .experience_content{
        margin-top: 2rem;
        column-gap: 5.5rem;
    }
    .room_container{
        max-width: 850px;
        justify-content: center;
        align-items: center;
    }
    .subscribe{
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
    }
    .booking_container{
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        max-width: 1300px;
    }
    .footer_content {
        justify-items: center;
    }
}